:root {
  --black: #181818;
  --white: #f9f9f9;
  --yellow: #ffbb36;
  --green: #29e853;
  --pink: #ff8399;
  --blue: #318efc;
  --darkBlue: #095fc5;
  --beige: #e1d4c0;
  --lightGreen: #c0e1d1;
  --am1: #2cedfa;
  --am2: #ffb800;
  --am3: #8a95fb;
  --am4: #1decba;
  --studio: #3019b9;
  --1bed: #478df6;
  --2bed: #9919b9;
  --noFee: #19b963;
  --buttonBook: #1853ea;
  --biking: #f8e2a9;
  --bikeCircle: #ecd087;
  --bikeRed: #fe2b2b;
  --bikeTitleRed: #a10000;
  --pink2: #ff7c7c;
  --pink3: #ff8399;
  --pink4: #f84b4b;
  --cultureShadow: #630073;
  --skyBlue: #66eef6;
  --blue2: #52add4;
  --green2: #297346;
}
body {
  background-color: var(--white);
  font-family: "Poppins", sans-serif;
}

button:focus {
  outline: 0;
}

.button-pill {
  font-size: 1rem;
  font-weight: 700;
  border: 3px solid var(--black);
  background-color: unset;
  color: var(--black);
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 24px;
}

.button-pill:hover {
  background-color: var(--black);
  color: var(--white);
}
.button-pill:focus {
  outline: 0;
}

.button-pill-white {
  border: 2px solid var(--white);
  background-color: unset;
  color: var(--white);
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 24px;
}

.button-pill-white:hover {
  background-color: var(--white);
  color: var(--black);
}

/* Hero Banner*/

.hero-banner {
  background-image: url("../assets/banner.png");
  height: 1105px;
  background-repeat: no-repeat;
  background-position: center;
  justify-content: space-between;
}
.hero-banner-front {
  color: var(--white);
  font-weight: bold;
  font-size: 3rem;
}

.hero-banner-foot {
  color: var(--white);
  font-weight: bold;
  font-size: 3rem;
}
.hero-banner-foot > span {
  background-color: var(--black);
}

/* Find Appartments */
.find-image {
  background-image: url("../assets/findapt.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 200px;
}

.find-container h3 {
  color: var(--black);
  font-size: 3rem;
  font-weight: 700;
}

.find-list {
  list-style: none;
  margin: 0;
  padding: 0;
}
.find-list li {
  width: 100%;
  padding-bottom: 10px;
}
.find-list li button {
  border: 3px solid var(--black);
  width: 100%;
  padding: 20px 0;
}
.find-list li button:hover {
  background-color: var(--black);
  color: var(--white);
}

.find-list li button h3 {
  font-size: 2rem;
  margin: 0;
}
.find-list li button:hover h3 {
  color: var(--white);
}

.find-list li button p {
  font-size: 1rem;
  margin: 0;
}

/*LifeStyle*/

.lifestyle-container {
  background-color: var(--black);
  color: var(--white);
  border-radius: 25px;
  width: 500px;
}
.lifestyle-image {
  width: 100%;
  background-image: url("../assets/trains.jpg");
  height: 220px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-radius: 25px;
}

.lifestyle-content-text h4 {
  margin: 0;
  font-size: 2rem;
}
.lifestyle-content-text h3 {
  font-size: 3rem;
  margin: 0;
  font-weight: 700;
}

.arrow-container {
  position: relative;
}
.arrow {
  text-align: center;
  transform: rotate(90deg);
  font-size: 3rem;
}
.circle {
  width: 40px;
  height: 40px;
  border: 3px solid var(--white);
  border-radius: 50%;
  position: absolute;
  top: 50px;
  left: 25px;
  transform: translate(-50%, -50%);
}

.biking-background {
  overflow: hidden;
  position: relative;
  background-color: var(--biking);
}
.bike-container {
  height: 900px;
  z-index: 20;
  position: relative;
}

.bike-circle {
  background-color: var(--bikeCircle);
  width: 850px;
  height: 850px;
  border-radius: 50%;
  position: absolute;
  bottom: -30%;
  left: 5%;
  z-index: 1;
}

.bike-image-container {
  position: relative;
  height: 270px;
}
.bike-image-circle {
  position: absolute;
  background-image: url("/assets/biking.jpeg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  top: 0;
  left: -10px;
  width: 250px;
  height: 250px;
  border-radius: 50%;
  overflow: hidden;
  z-index: 30;
}
.bike-red-square {
  position: absolute;
  top: 0;
  left: 105px;
  background-color: var(--bikeRed);
  width: 60px;
  height: 250px;
  z-index: 29;
}
.bike-red-square::after {
  content: "";
  position: absolute;
  top: 0;
  left: -60px;
  background-color: var(--bikeRed);
  width: 250px;
  height: 250px;
  z-index: 29;
  border-radius: 50%;
}
.bike-image {
  position: relative;
}
.bike-title-section {
  position: relative;
  z-index: 50;
}

.bike-title-container {
  background-color: var(--yellow);
  width: 100%;
  padding: 20px;
  border-radius: 25px;
  overflow: hidden;
  position: inherit;
  z-index: 33;
}

.bike-title-shadow {
  content: "";
  position: absolute;
  top: 5px;
  left: 0px;
  background-color: var(--bikeRed);
  width: 100%;
  height: 168px;
  z-index: 29;
  border-radius: 25px;
}
.bike-title {
  width: 230px;
}

.bike-title h3 {
  color: var(--bikeTitleRed);
  font-weight: 700;
  font-size: 3rem;
  line-height: 3.2rem;
  margin: 0;
}

.bike-text-container {
  width: 100%;
  position: absolute;
  top: 200px;
  font-size: 1.2rem;
  line-height: 3rem;
  right: 0;
  padding: 0 20px;
}

.culture-background {
  background-color: var(--pink3);
  height: 820px;
  overflow: hidden;
}
.culture-image-container {
  position: relative;
}
.culture-image {
  position: relative;
  background-image: url("/assets/events.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 300px;
  border-radius: 25px;
  z-index: 20;
}
.culture-image-shadow {
  position: absolute;
  top: 30px;
  background-color: var(--cultureShadow);
  width: 100%;
  height: 300px;
  border-radius: 25px;
  z-index: 10;
}
.culture-content-container {
  position: relative;
}

.culture-content {
  position: absolute;
  top: -90px;
  left: -7px;
  background-color: var(--pink2);
  z-index: 30;
  border-radius: 25px;
}
.culture-content h3 {
  color: var(--cultureShadow);
  font-weight: 700;
  font-size: 3rem;
  text-align: center;
  line-height: 3rem;
}
.culture-content p {
  color: black;
  font-size: 1.3rem;
  border-radius: 25px;
  line-height: 3rem;
}
.culture-content-shadow {
  width: 100%;
  position: absolute;
  background-color: var(--cultureShadow);
  border-radius: 25px;
  height: 500px;
  top: -150px;
  z-index: 9;
}

.squares {
  position: relative;
}
.square-1 {
  position: absolute;
  top: 100px;
  left: 410px;
  width: 500px;
  height: 500px;
  background-color: var(--pink4);
  transform: translate(-50%, -50%) rotate(45deg);
  z-index: 1;
}
.square-2 {
  position: absolute;
  top: -150px;
  left: 1070px;
  width: 300px;
  height: 300px;
  background-color: var(--pink4);
  transform: translate(-50%, -50%) rotate(65deg);
  z-index: 2;
}

.map-background {
  background-color: var(--skyBlue);
  height: 820px;
  overflow: hidden;
  position: relative;
}
.map-background-shadow {
  position: absolute;
  top: 90%;
  left: 50%;
  background-color: #52add4;
  width: 800px;
  height: 800px;
  border-radius: 25px;
  z-index: 1;
  transform: translate(-50%, -50%);
}
.map-container {
  position: relative;
}
.map-image-container {
  position: relative;
  height: 270px;
}

.map-image {
  width: 70%;
  position: absolute;
  top: 50%;
  left: 50%;
  background-image: url("/assets/map.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 270px;
  border-radius: 25px;
  overflow: hidden;
  transform: translate(-50%, -50%);
  z-index: 30;
}

.map-image-shadow {
  width: 70%;
  position: absolute;
  top: 40%;
  left: 50%;
  background-color: var(--green2);
  height: 270px;
  border-radius: 25px;
  overflow: hidden;
  transform: translate(-50%, -50%);
  z-index: 29;
}
.map-content-container {
  position: relative;
  height: 637px;
}

.map-content {
  width: 86%;
  position: absolute;
  top: 7%;
  left: 50%;
  height: 530px;
  background-color: var(--green);
  border-radius: 25px;
  overflow: hidden;
  transform: translate(-50%, -50%);
  z-index: 20;
}

.map-content-shadow {
  width: 86%;
  position: absolute;
  top: 2%;
  left: 50%;
  height: 530px;
  background-color: var(--green2);
  border-radius: 25px;
  overflow: hidden;
  transform: translate(-50%, -50%);
  z-index: 19;
}

.content {
  width: 80%;
  position: absolute;
  top: 68%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.content h3 {
  color: var(--green2);
  font-weight: 700;
  font-size: 1.8rem;
  text-align: center;
  line-height: 2rem;
}

.content p {
  color: black;
  font-size: 1.2rem;
  line-height: 2rem;
  margin: 0;
}

/*Listing*/
.listing-apartment-card {
  background-color: white;
  border: 1px solid #e3e3e3;
  border-radius: 15px;
  overflow: hidden;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

.listing-apartment-image {
  position: relative;
  height: 260px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.listing-apartment-image.ap1 {
  background-image: url("/assets/ap1.jpg");
}
.listing-apartment-image.ap2 {
  background-image: url("/assets/ap2.jpg");
}
.listing-apartment-image.ap3 {
  background-image: url("/assets/ap3.jpg");
}
.listing-apartment-image.ap4 {
  background-image: url("/assets/ap4.jpg");
}
.listing-apartment-image.ap5 {
  background-image: url("/assets/ap5.jpg");
}
.listing-apartment-image.ap6 {
  background-image: url("/assets/ap6.jpg");
}
.listing-apartment-name p {
  font-size: 1rem;
  margin: 0;
}
.listing-apartment-name h3 {
  font-size: 1rem;
  font-weight: 700;
  margin: 0;
}
.listing-apartment-details p {
  font-size: 0.9rem;
  margin: 0;
}
.pill-item {
  background-color: grey;
  overflow: hidden;
  border-radius: 15px;
  font-size: 1rem;
  padding: 10px 15px;
  font-weight: 400;
  color: var(--white);
}
.pill-item.studio {
  background-color: var(--studio);
}
.pill-item.no-fee {
  background-color: var(--noFee);
}
.pill-item.bed1 {
  background-color: var(--1bed);
}
.pill-item.bed2 {
  background-color: var(--2bed);
}
.button-book {
  background-color: white;
  width: 100%;
  color: var(--buttonBook);
  border: 3px solid var(--buttonBook);
  padding: 10px 0;
  border-radius: 15px;
}

.button-book:hover {
  background-color: var(--buttonBook);
  color: var(--white);
}
.button-book:active {
  text-decoration: underline;
}

/*amenities*/

.am1 {
  background-color: var(--am1);
}
.am2 {
  background-color: var(--am2);
}
.am3 {
  background-color: var(--am3);
}
.am4 {
  background-color: var(--am4);
}

.am-circle {
  height: 250px;
  width: 250px;
  overflow: hidden;
  border-radius: 50%;
}
.am-circle img {
  padding-bottom: 5px;
}

.am-circle.am1 img {
  width: 110px;
}
.am-circle.am2 img {
  height: 120px;
}
.am-circle.am3 img {
  height: 104px;
}
.am-circle.am4 img {
  height: 104px;
}

.am-circle p {
  font-size: 1rem;
  text-align: center;
  margin: 0;
}

/*appartments*/

.appartment-hero {
  height: 500px;
  background-image: url("../assets/sanFranciscoNight.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}
.appartment-container {
  background-color: var(--black);
  border-radius: 25px;
  color: var(--white);
  overflow: hidden;
}
.appartment-title {
  text-align: right;
  margin: 0;
  font-size: 1.3rem;
  font-weight: 700;
}
.appartment-number {
  text-align: center;
  margin: 0;
  font-size: 2.5rem;
  font-weight: 700;
}
.ammenities-title {
  margin: 0;
  font-size: 2.8rem;
  font-weight: 700;
  text-align: left;
}

/*contact us*/
.contact {
  position: relative;
}

.contact-container-image {
  background-image: url("../assets/appartments.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 300px;
  height: 300px;
  border-radius: 50%;
  overflow: hidden;
}
.contact-text {
  font-size: 1rem;
  line-height: 1.9rem;
}
.contact-container {
  background-color: var(--lightGreen);
}
.contact-title {
  line-height: 2.1rem;
  font-size: 2.3rem;
  font-weight: 700;
}

/* Footer */

footer {
  background-color: var(--black);
  color: var(--white);
}

.footer-title {
  font-size: 1rem;
  font-weight: 600;
}
.footer-text {
  margin: 0;
  font-size: 0.8rem;
}

.footer-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.footer-list li a {
  margin: 0;
  font-size: 0.8rem;
  color: var(--white);
}

.footer-list li a:hover {
  text-decoration: underline;
}

.footer-icon-list {
  list-style: none;
  font-size: 1.3rem;
  margin: 0;
  padding: 0;
  border: 1px solid var(--white);
  width: fit-content;
}
.footer-icon-list li {
  padding: 10px 15px;
  border-right: 1px solid var(--white);
}
.footer-icon-list li:hover {
  background-color: white;
  color: black;
}
.footer-icon-list li:last-child {
  border: none;
}
.newsletter-container {
  border-bottom: 1px solid var(--white);
}
.newsletter-title {
  font-size: 1.5rem;
  font-weight: 600;
  margin: 0;
  padding: 0;
}
.newsletter-form {
  background-color: var(--white);
  border-radius: 25px;
  overflow: hidden;
}
.newsletter-email {
  border: none;
  width: 90%;
  padding-left: 10px;
}
.newsletter-email:focus-visible {
  outline: none;
}
.newsletter-button {
  background-color: var(--black);
  color: var(--white);
  border: none;
  padding: 6px 20px;
  border-radius: 20px;
}
.newsletter-image {
  background-image: url("../assets/appartments2.jpg");
  background-size: cover;
  overflow: hidden;
  background-position: top -60px right 15px;
  background-repeat: no-repeat;
}
.logo-footer {
  width: 100%;
}

/*MOBILE M*/
@media (min-width: 375px) {
  /*LifeStyle*/
  .bike-image-circle {
    left: 20px;
  }
  .bike-red-square {
    left: 135px;
  }
  .culture-content {
    left: 0px;
  }
  .content p {
    text-align: center;
  }
}
/*MOBILE L*/
@media (min-width: 425px) {
  /*LifeStyle*/
  .bike-image-container {
    height: 330px;
  }
  .bike-image-circle {
    left: 20px;
    width: 300px;
    height: 300px;
  }

  .bike-red-square {
    left: 175px;
    width: 60px;
    height: 300px;
  }

  .bike-red-square::after {
    left: -100px;
    width: 300px;
    height: 300px;
  }
  .bike-text-container {
    padding: 0px 20px;
  }
  .culture-content-shadow {
    top: -190px;
  }

  /*appartments*/

  .appartment-number {
    font-size: 3rem;
  }

  .hero-banner-front {
    font-size: 4rem;
    line-height: 3.8rem;
  }
  .hero-banner-foot {
    font-size: 4rem;
  }
}

/*TABLET*/
@media (min-width: 768px) {
  /*Find Container*/
  .find-background {
    background-image: url("../assets/findapt.jpg");
    background-repeat: no-repeat;
    background-position: right;
    background-size: 48%;
  }
  .find-container {
    width: 50%;
  }
  .find-list li {
    padding-bottom: 10px;
  }
  .find-list li button h3 {
    font-size: 1.6rem;
    margin: 0;
  }

  .find-list li button p {
    font-size: 1rem;
    margin: 0;
  }
  /*LifeStlye*/
  .lifestyle-image {
    width: 300px;
  }

  .lifestyle-intro-h4 {
    font-size: 3.5rem;
    line-height: 50px;
    margin: 0;
  }
  .lifestyle-intro-h3 {
    font-size: 4rem;
    font-weight: 700;
    text-align: start;
    margin: 0;
  }
  .bike-container {
    height: 600px;
  }
  .bike-image-container {
    position: absolute;

    left: 17%;
  }
  .bike-image-circle {
    position: absolute;
    top: 0;
    left: -80px;
    width: 300px;
    height: 300px;
  }

  .bike-red-square {
    left: 70px;
    width: 50px;
    height: 300px;
  }
  .bike-red-square::after {
    left: -120px;
    width: 300px;
    height: 300px;
  }

  .bike-title-section {
    position: relative;
  }
  .bike-title-container {
    width: 400px;
  }
  .bike-title-shadow {
    width: 400px;
  }
  .bike-image {
    position: absolute;
    top: 0px;
    left: 40%;
  }

  .bike-title {
    width: 400px;
  }

  .bike-title h3 {
    font-size: 4rem;
    line-height: 3.2rem;
  }

  .bike-text-container {
    width: 350px;
  }
  .bike-text-container {
    font-size: 1.3rem;
    line-height: 3rem;
  }
  .culture-background {
    height: 700px;
  }

  .culture-image {
    width: 650px;
    height: 300px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
  .culture-image-shadow {
    left: 20px;
    width: 650px;
    height: 300px;
  }
  .culture-image-container {
    height: 300px;
  }
  .culture-content {
    left: 50%;
    top: 50px;
    transform: translate(-50%, -50%);
    width: 450px;
  }
  .culture-content h3 {
    padding: 0 20px;
  }

  .culture-content-shadow {
    top: 130px;
    left: 50%;
    height: 220px;
    width: 450px;
    transform: translate(-50%, -50%);
  }
  .map-background {
    height: 580px;
  }
  .map-image {
    width: 40%;
    left: 24%;
    height: 400px;
  }

  .map-image-shadow {
    width: 40%;
    top: 41%;
    left: 24%;
    height: 400px;
  }
  .map-content {
    width: 100%;
    height: 310px;
    top: -10%;
  }
  .map-content-shadow {
    width: 100%;
    height: 310px;
    top: -15%;
  }
  .content {
    width: 48%;
    top: 48%;
    left: 70%;
  }
  .content h3 {
    color: var(--green2);
    font-weight: 700;
    font-size: 3rem;
    text-align: center;
    line-height: 3.4rem;
  }

  /*Button*/
  .button-pill {
    font-size: 1rem;
    border: 2px solid var(--black);
  }
  /*contact us*/
  .contact {
    min-height: 600px;
  }
  .contact-container-image {
    width: 350px;
    height: 350px;
    position: absolute;
    bottom: 28%;
    right: 0;
  }
  .container-contact-us {
    width: 50%;
  }
  .container-title-contact {
    width: 50%;
  }
  .contact-title {
    font-size: 2.8rem;
    line-height: 2.7rem;
  }
  .contact-text {
    font-size: 1rem;
    line-height: 2.1rem;
  }
  /*Footer*/
  .footer-title {
    font-size: 0.8rem;
  }
}

/*Desktop*/
@media (min-width: 1024px) {
  /*LifeStyle*/
  .lifestyle-image {
    height: 300px;
  }

  .bike-image-circle {
    position: absolute;
    left: -50px;
    width: 400px;
    height: 400px;
    z-index: 30;
  }
  .bike-red-square {
    height: 400px;
    left: 160px;
  }
  .bike-red-square::after {
    top: 0;
    left: -150px;
    width: 400px;
    height: 400px;
    z-index: 29;
    border-radius: 50%;
  }
  .bike-title-section {
    position: absolute;
    top: 0%;
    right: 64%;
  }
  .bike-title-container {
    width: 540px;
  }
  .bike-title-shadow {
    width: 540px;
  }
  .bike-text-container {
    left: 210px;
  }

  .culture-image-shadow {
    left: 50%;
    top: 60%;
    transform: translate(-50%, -50%);
  }
  .culture-content h3 {
    font-size: 2.5rem;
    line-height: 3rem;
  }
  .culture-content p {
    font-size: 1.2rem;
    line-height: 2rem;
  }
  .culture-content-shadow {
    top: 80px;
  }
  .map-image {
    width: 34%;
    left: 30%;
  }
  .map-image-shadow {
    width: 34%;
    left: 30%;
  }
  .map-content-shadow {
    width: 80%;
  }
  .map-content {
    width: 80%;
  }
  .content {
    width: 44%;
    left: 73%;
  }

  /*appartments*/

  .appartment-title {
    font-size: 2.3rem;
  }
  .appartment-number {
    font-size: 5rem;
  }

  /*contatc us*/
  .contact-container-image {
    width: 500px;
    height: 500px;
    bottom: 0;
  }

  .contact-title {
    font-size: 3.5rem;
    line-height: 3.2rem;
  }
  .co .hero-banner-front {
    font-size: 3.8rem;
  }
  .biking {
    width: 33%;
  }
  .biking h3 {
    font-size: 3.6rem;
    line-height: 3.4rem;
  }

  .logo-footer {
    width: 100%;
  }
  /*Footer*/
  .footer-title {
    font-size: 1rem;
  }
}

/*Desktop Bigger*/
@media (min-width: 1440px) {
  .biking h3 {
    font-size: 4rem;
    line-height: 3.4rem;
  }

  .square-2 {
    left: 1440px;
  }

  .map-content {
    width: 72%;
  }
  .map-content-shadow {
    width: 72%;
  }
  .map-background-shadow {
    width: 930px;
  }
}
