:root {
  --black: #181818;
  --white: #f9f9f9;
  --yellow: #ffbb36;
  --green: #29e853;
  --pink: #ff8399;
  --blue: #318efc;
  --darkBlue: #095fc5;
  --beige: #e1d4c0;
  --lightGreen: #c0e1d1;
  --am1: #2cedfa;
  --am2: #ffb800;
  --am3: #8a95fb;
  --am4: #1decba;
  --studio: #3019b9;
  --1bed: #478df6;
  --2bed: #9919b9;
  --noFee: #19b963;
  --buttonBook: #1853ea;
  --biking: #f8e2a9;
  --bikeCircle: #ecd087;
  --bikeRed: #fe2b2b;
  --bikeTitleRed: #a10000;
}
body {
  background-color: var(--white);
  font-family: "Poppins", sans-serif;
}

button:focus {
  outline: 0;
}

.button-pill {
  font-size: 1rem;
  font-weight: 700;
  border: 3px solid var(--black);
  background-color: unset;
  color: var(--black);
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 24px;
}

.button-pill:hover {
  background-color: var(--black);
  color: var(--white);
}
.button-pill:focus {
  outline: 0;
}

.button-pill-white {
  border: 2px solid var(--white);
  background-color: unset;
  color: var(--white);
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 24px;
}

.button-pill-white:hover {
  background-color: var(--white);
  color: var(--black);
}

/* Hero Banner*/

.hero-banner {
  background-image: url("../assets/banner.png");
  height: 1105px;
  background-repeat: no-repeat;
  background-position: center;
  justify-content: space-between;
}
.hero-banner-front {
  color: var(--white);
  font-weight: bold;
  font-size: 3rem;
}

.hero-banner-foot {
  color: var(--white);
  font-weight: bold;
  font-size: 3rem;
}
.hero-banner-foot > span {
  background-color: var(--black);
}

/* about*/

.text-about {
  font-weight: bold;
  font-size: 2rem;
  line-height: 3rem;
}

.biking-container {
  background-image: url("../assets/biking.jpeg");
  background-repeat: no-repeat;
  height: 667px;
  background-position: -447px -310px;
  background-size: auto;
}

.biking {
  width: 90%;
  background-color: var(--yellow);
}
.biking h3 {
  font-size: 3.3rem;
  line-height: 3.4rem;
  font-weight: bold;
}
.biking p {
  line-height: 1.7rem;
}

.about-lower {
  height: 580px;
}

.shopping {
  background-image: url("../assets/shopping.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.events {
  background-image: url("../assets/events.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.shopping-card {
  background-color: var(--green);
}
.card-title {
  font-size: 3rem;
  line-height: 2.8rem;
  font-weight: bold;
}

.events-card {
  background-color: var(--pink);
}
/* Quotes*/

.quotes {
  background-color: var(--blue);
}

.nav-button {
  background-color: var(--white);
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 0;
}
.nav-button:hover {
  background-color: var(--darkBlue);
}
.nav-button.active {
  background-color: var(--darkBlue);
}

.quote-user {
  min-width: 200px;
  height: 200px;
  border-radius: 50%;
  background-image: url("../assets/person400.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border: 5px solid var(--white);
}

.quote-text {
  font-size: 1.5rem;
  font-style: italic;
  color: var(--white);
}

.name-text {
  text-align: end;
}
.big-quote {
  font-size: 2rem;
}

/*LifeStyle*/
.biking-background {
  overflow: hidden;
  position: relative;
  background-color: var(--biking);
}
.bike-container {
  height: 600px;
  z-index: 20;
  position: relative;
}

.bike-circle {
  background-color: var(--bikeCircle);
  width: 850px;
  height: 850px;
  border-radius: 50%;
  position: absolute;
  bottom: -30%;
  left: 5%;
  z-index: 1;
}

.bike-image-container {
  position: absolute;
  top: 10%;
  left: 14%;
}
.bike-image-circle {
  position: inherit;
  background-image: url("/assets/biking.jpeg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 400px;
  height: 400px;
  border-radius: 50%;
  overflow: hidden;
  z-index: 30;
}
.bike-red-square {
  position: absolute;
  top: 0;
  left: 190px;
  background-color: var(--bikeRed);
  width: 60px;
  height: 400px;
  z-index: 29;
}
.bike-red-square::after {
  content: "";
  position: absolute;
  top: 0;
  left: -140px;
  background-color: var(--bikeRed);
  width: 400px;
  height: 400px;
  z-index: 29;
  border-radius: 50%;
}
.bike-image {
  position: relative;
}
.bike-title-section {
  position: absolute;
  top: 10%;
  right: 14%;
  z-index: 50;
}

.bike-title-container {
  background-color: var(--yellow);
  width: 560px;
  padding: 20px;
  border-radius: 25px;
  overflow: hidden;
  position: inherit;
  z-index: 33;
}

.bike-title-shadow {
  content: "";
  position: absolute;
  top: 5px;
  left: 0px;
  background-color: var(--bikeRed);
  width: 560px;
  height: 168px;
  z-index: 29;
  border-radius: 25px;
}
.bike-title {
  width: 350px;
}

.bike-title h3 {
  color: var(--bikeTitleRed);
  font-weight: 700;
  font-size: 4rem;
  line-height: 3.2rem;
  margin: 0;
}
.bike-text-container {
  width: 350px;
  position: relative;
}
.bike-text-container {
  position: absolute;
  top: 200px;
  font-size: 1.3rem;
  line-height: 3rem;
  right: 0;
}

/*Listing*/
.listing-apartment-card {
  background-color: white;
  border: 1px solid #e3e3e3;
  border-radius: 15px;
  overflow: hidden;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

.listing-apartment-image {
  position: relative;
  height: 260px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.listing-apartment-image.ap1 {
  background-image: url("/assets/ap1.jpg");
}
.listing-apartment-image.ap2 {
  background-image: url("/assets/ap2.jpg");
}
.listing-apartment-image.ap3 {
  background-image: url("/assets/ap3.jpg");
}
.listing-apartment-image.ap4 {
  background-image: url("/assets/ap4.jpg");
}
.listing-apartment-image.ap5 {
  background-image: url("/assets/ap5.jpg");
}
.listing-apartment-image.ap6 {
  background-image: url("/assets/ap6.jpg");
}
.listing-apartment-name p {
  font-size: 1rem;
  margin: 0;
}
.listing-apartment-name h3 {
  font-size: 1rem;
  font-weight: 700;
  margin: 0;
}
.listing-apartment-details p {
  font-size: 0.9rem;
  margin: 0;
}
.pill-item {
  background-color: grey;
  overflow: hidden;
  border-radius: 15px;
  font-size: 1rem;
  padding: 10px 15px;
  font-weight: 400;
  color: var(--white);
}
.pill-item.studio {
  background-color: var(--studio);
}
.pill-item.no-fee {
  background-color: var(--noFee);
}
.pill-item.bed1 {
  background-color: var(--1bed);
}
.pill-item.bed2 {
  background-color: var(--2bed);
}
.button-book {
  background-color: white;
  width: 100%;
  color: var(--buttonBook);
  border: 3px solid var(--buttonBook);
  padding: 10px 0;
  border-radius: 15px;
}

.button-book:hover {
  background-color: var(--buttonBook);
  color: var(--white);
}
.button-book:active {
  text-decoration: underline;
}

/*amenities*/

.am1 {
  background-color: var(--am1);
}
.am2 {
  background-color: var(--am2);
}
.am3 {
  background-color: var(--am3);
}
.am4 {
  background-color: var(--am4);
}

.am-circle {
  height: 250px;
  width: 250px;
  overflow: hidden;
  border-radius: 50%;
}
.am-circle img {
  padding-bottom: 5px;
}

.am-circle.am1 img {
  width: 110px;
}
.am-circle.am2 img {
  height: 120px;
}
.am-circle.am3 img {
  height: 104px;
}
.am-circle.am4 img {
  height: 104px;
}

.am-circle p {
  font-size: 1rem;
  text-align: center;
  margin: 0;
}

/*appartments*/

.appartment-hero {
  height: 500px;
  background-image: url("../assets/sanFranciscoNight.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}
.appartment-container {
  background-color: var(--black);
  border-radius: 25px;
  color: var(--white);
  overflow: hidden;
}
.appartment-title {
  text-align: right;
  margin: 0;
  font-size: 1.3rem;
  font-weight: 700;
}
.appartment-number {
  text-align: center;
  margin: 0;
  font-size: 2.5rem;
  font-weight: 700;
}
.ammenities-title {
  margin: 0;
  font-size: 2.8rem;
  font-weight: 700;
  text-align: left;
}

/*contact us*/
.contact {
  position: relative;
}

.contact-container-image {
  background-image: url("../assets/appartments.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 300px;
  height: 300px;
  border-radius: 50%;
  overflow: hidden;
}
.contact-text {
  font-size: 1rem;
  line-height: 1.9rem;
}
.contact-container {
  background-color: var(--lightGreen);
}
.contact-title {
  line-height: 2.1rem;
  font-size: 2.3rem;
  font-weight: 700;
}

/* Footer */

footer {
  background-color: var(--black);
  color: var(--white);
}

.footer-title {
  font-size: 1rem;
  font-weight: 600;
}
.footer-text {
  margin: 0;
  font-size: 0.8rem;
}

.footer-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.footer-list li a {
  margin: 0;
  font-size: 0.8rem;
  color: var(--white);
}

.footer-list li a:hover {
  text-decoration: underline;
}

.footer-icon-list {
  list-style: none;
  font-size: 1.3rem;
  margin: 0;
  padding: 0;
  border: 1px solid var(--white);
  width: fit-content;
}
.footer-icon-list li {
  padding: 10px 15px;
  border-right: 1px solid var(--white);
}
.footer-icon-list li:hover {
  background-color: white;
  color: black;
}
.footer-icon-list li:last-child {
  border: none;
}
.newsletter-container {
  border-bottom: 1px solid var(--white);
}
.newsletter-title {
  font-size: 1.5rem;
  font-weight: 600;
  margin: 0;
  padding: 0;
}
.newsletter-form {
  background-color: var(--white);
  border-radius: 25px;
  overflow: hidden;
}
.newsletter-email {
  border: none;
  width: 90%;
  padding-left: 10px;
}
.newsletter-email:focus-visible {
  outline: none;
}
.newsletter-button {
  background-color: var(--black);
  color: var(--white);
  border: none;
  padding: 6px 20px;
  border-radius: 20px;
}
.newsletter-image {
  background-image: url("../assets/appartments2.jpg");
  background-size: cover;
  overflow: hidden;
  background-position: top -60px right 15px;
  background-repeat: no-repeat;
}
.logo-footer {
  width: 100%;
}
@media (min-width: 425px) {
  /*appartments*/

  .appartment-number {
    font-size: 3rem;
  }

  .hero-banner-front {
    font-size: 4rem;
    line-height: 3.8rem;
  }
  .hero-banner-foot {
    font-size: 4rem;
  }
}

@media (min-width: 576px) {
  /*Contact us*/

  .contact-container-image {
    width: 300px;
    height: 300px;
  }
  .hero-banner-front {
    font-size: 3.3rem;
  }

  .hero-banner-foot {
    font-size: 4.5rem;
  }

  .biking {
    width: 40%;
    background-color: var(--yellow);
  }
  .biking h3 {
    font-size: 3rem;
    line-height: 3.4rem;
  }
  .biking-container {
    background-image: url("../assets/biking.jpeg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 667px;
  }
}

@media (min-width: 768px) {
  /*Button*/
  .button-pill {
    font-size: 1rem;
    border: 2px solid var(--black);
  }
  /*contact us*/
  .contact {
    min-height: 600px;
  }
  .contact-container-image {
    width: 350px;
    height: 350px;
    position: absolute;
    bottom: 28%;
    right: 0;
  }
  .container-contact-us {
    width: 50%;
  }
  .container-title-contact {
    width: 50%;
  }
  .contact-title {
    font-size: 2.8rem;
    line-height: 2.7rem;
  }
  .contact-text {
    font-size: 1rem;
    line-height: 2.1rem;
  }
  /*Footer*/
  .footer-title {
    font-size: 0.8rem;
  }
}

@media (min-width: 1024px) {
  /*appartments*/

  .appartment-title {
    font-size: 2.3rem;
  }
  .appartment-number {
    font-size: 5rem;
  }

  /*contatc us*/
  .contact-container-image {
    width: 500px;
    height: 500px;
    bottom: 0;
  }

  .contact-title {
    font-size: 3.5rem;
    line-height: 3.2rem;
  }
  .co .hero-banner-front {
    font-size: 3.8rem;
  }
  .biking {
    width: 33%;
  }
  .biking h3 {
    font-size: 3.6rem;
    line-height: 3.4rem;
  }

  .logo-footer {
    width: 100%;
  }
  /*Footer*/
  .footer-title {
    font-size: 1rem;
  }
}

@media (min-width: 1440px) {
  .biking h3 {
    font-size: 4rem;
    line-height: 3.4rem;
  }
}
