:root {
  --black: #181818;
  --white: #f9f9f9;
  --yellow: #ffbb36;
  --green: #29e853;
  --pink: #ff8399;
  --blue: #318efc;
  --darkBlue: #095fc5;
  --beige: #e1d4c0;
  --lightGreen: #c0e1d1;
}
body {
  background-color: var(--white);
  font-family: "Poppins", sans-serif;
}

button:focus {
  outline: 0;
}

.button-pill {
  font-size: 0.7rem;
  font-weight: 700;
  border: 3px solid var(--black);
  background-color: unset;
  color: var(--black);
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 24px;
}

.button-pill:hover {
  background-color: var(--black);
  color: var(--white);
}
.button-pill:focus {
  outline: 0;
}

.button-pill-white {
  border: 2px solid var(--white);
  background-color: unset;
  color: var(--white);
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 24px;
}

.button-pill-white:hover {
  background-color: var(--white);
  color: var(--black);
}

/* Hero Banner*/

.hero-banner {
  background-image: url("../assets/banner.png");
  height: 1105px;
  background-repeat: no-repeat;
  background-position: center;
  justify-content: space-between;
}
.hero-banner-front {
  color: var(--white);
  font-weight: bold;
  font-size: 3rem;
}

.hero-banner-foot {
  color: var(--white);
  font-weight: bold;
  font-size: 3rem;
}
.hero-banner-foot > span {
  background-color: var(--black);
}

/* about*/

.text-about {
  font-weight: bold;
  font-size: 2rem;
  line-height: 3rem;
}

.biking-container {
  background-image: url("../assets/biking.jpeg");
  background-repeat: no-repeat;
  height: 667px;
  background-position: -447px -310px;
  background-size: auto;
}

.biking {
  width: 90%;
  background-color: var(--yellow);
}
.biking h3 {
  font-size: 3.3rem;
  line-height: 3.4rem;
  font-weight: bold;
}
.biking p {
  line-height: 1.7rem;
}

.about-lower {
  height: 580px;
}

.shopping {
  background-image: url("../assets/shopping.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.events {
  background-image: url("../assets/events.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.shopping-card {
  background-color: var(--green);
}
.card-title {
  font-size: 3rem;
  line-height: 2.8rem;
  font-weight: bold;
}

.events-card {
  background-color: var(--pink);
}
/* Quotes*/

.quotes {
  background-color: var(--blue);
}

.nav-button {
  background-color: var(--white);
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 0;
}
.nav-button:hover {
  background-color: var(--darkBlue);
}
.nav-button.active {
  background-color: var(--darkBlue);
}

.quote-user {
  min-width: 200px;
  height: 200px;
  border-radius: 50%;
  background-image: url("../assets/person400.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border: 5px solid var(--white);
}

.quote-text {
  font-size: 1.5rem;
  font-style: italic;
  color: var(--white);
}

.name-text {
  text-align: end;
}
.big-quote {
  font-size: 2rem;
}

/*contact us*/
.contact {
  position: relative;
}

.contact-container-image {
  background-image: url("../assets/appartments.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 300px;
  height: 300px;
  border-radius: 50%;
  overflow: hidden;
}
.contact-text {
  font-size: 1rem;
  line-height: 1.9rem;
}
.contact-container {
  background-color: var(--lightGreen);
}
.contact-title {
  line-height: 2.1rem;
  font-size: 2.3rem;
  font-weight: 700;
}

/* Footer */

footer {
  background-color: var(--black);
  color: var(--white);
}

.footer-title {
  font-size: 1rem;
  font-weight: 600;
}
.footer-text {
  margin: 0;
  font-size: 0.8rem;
}

.footer-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.footer-list li a {
  margin: 0;
  font-size: 0.8rem;
  color: var(--white);
}

.footer-list li a:hover {
  text-decoration: underline;
}

.footer-icon-list {
  list-style: none;
  font-size: 1.3rem;
  margin: 0;
  padding: 0;
  border: 1px solid var(--white);
  width: fit-content;
}
.footer-icon-list li {
  padding: 10px 15px;
  border-right: 1px solid var(--white);
}
.footer-icon-list li:hover {
  background-color: white;
  color: black;
}
.footer-icon-list li:last-child {
  border: none;
}
.newsletter-container {
  border-bottom: 1px solid var(--white);
}
.newsletter-title {
  font-size: 1.5rem;
  font-weight: 600;
  margin: 0;
  padding: 0;
}
.newsletter-form {
  background-color: var(--white);
  border-radius: 25px;
  overflow: hidden;
}
.newsletter-email {
  border: none;
  width: 90%;
  padding-left: 10px;
}
.newsletter-email:focus-visible {
  outline: none;
}
.newsletter-button {
  background-color: var(--black);
  color: var(--white);
  border: none;
  padding: 6px 20px;
  border-radius: 20px;
}
.newsletter-image {
  background-image: url("../assets/appartments2.jpg");
  background-size: cover;
  overflow: hidden;
  background-position: top -60px right 15px;
  background-repeat: no-repeat;
}
.logo-footer {
  width: 100%;
}
@media (min-width: 425px) {
  .hero-banner-front {
    font-size: 4rem;
    line-height: 3.8rem;
  }
  .hero-banner-foot {
    font-size: 4rem;
  }
}

@media (min-width: 576px) {
  .hero-banner-front {
    font-size: 3.3rem;
  }

  .hero-banner-foot {
    font-size: 4.5rem;
  }

  .biking {
    width: 40%;
    background-color: var(--yellow);
  }
  .biking h3 {
    font-size: 3rem;
    line-height: 3.4rem;
  }
  .biking-container {
    background-image: url("../assets/biking.jpeg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 667px;
  }
}

@media (min-width: 768px) {
  /*Button*/
  .button-pill {
    font-size: 1rem;
    border: 2px solid var(--black);
  }
  /*contact us*/
  .contact {
    min-height: 600px;
  }
  .contact-container-image {
    width: 300px;
    height: 300px;
    position: absolute;
    bottom: 0;
    right: 0;
  }
  .container-contact-us {
    width: 50%;
  }
  .container-title-contact {
    width: 50%;
  }
  .contact-title {
    font-size: 2.8rem;
    line-height: 2.7rem;
  }
  .contact-text {
    font-size: 1rem;
    line-height: 2.1rem;
  }
  /*Footer*/
  .footer-title {
    font-size: 0.8rem;
  }
}

@media (min-width: 1024px) {
  /*contatc us*/
  .contact-container-image {
    width: 500px;
    height: 500px;
  }

  .contact-title {
    font-size: 3.5rem;
    line-height: 3.2rem;
  }
  .co .hero-banner-front {
    font-size: 3.8rem;
  }
  .biking {
    width: 33%;
  }
  .biking h3 {
    font-size: 3.6rem;
    line-height: 3.4rem;
  }

  .logo-footer {
    width: 100%;
  }
  /*Footer*/
  .footer-title {
    font-size: 1rem;
  }
}

@media (min-width: 1440px) {
  .biking h3 {
    font-size: 4rem;
    line-height: 3.4rem;
  }
}
